language: cpp

matrix:
  include:
    - dist: focal
      addons:
        apt:
          packages:
            - lcov
            - xorriso
          sources:
            - ubuntu-toolchain-r-test

before_install:
  - eval "${MATRIX_EVAL}"
  - sudo apt-get update
  - sudo apt-get -y install nasm

script:
  - sudo pip install codecov
  - bash build-ci.sh

after_success:
  - codecov -t 6e1e1d99-b38a-4978-882a-bfcef874c026 -X gcov
